* {
  box-sizing:border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.questionPosition{
  top: 80px;
  left: 50px;
  font-size: 16px;
  text-align: center;
  width:600px;
  margin:20px;
  padding-bottom: 40px;
  margin:auto;
}
.questionPosition div{
  height:40px;
}
.answer-reply{
  height:40px;
}
button.note-choice{
  font-size:25px;
}
.pocket{
  position: relative;
  background-color: #cfcccc;
  padding: 10px;
  margin: 20px;
}
.hexkey{
  overflow:visible;
  display:block;
  margin:auto;
  margin-bottom:40px;
}
.hex00{
  transform:translate(50%, 50%);
}
.hex01{
  transform:translate(37.2px, 20px);
}
.hex02{
  transform:translate(54.4px, 20px);
}
.hex10{
  transform:translate(28.6px, 35px);
}
.hex11{
  transform:translate(45.8px, 35px);
}
.outline{
  fill:#b8ac9ede;
  fill-opacity:1; 
  stroke:rgb(49, 45, 40);
  stroke-width:.2;
  transition: fill 1s;
}
.outline.completed{
  fill:#e29820de;
}
.node{
  cursor:pointer;
}
.node circle{
  cx:0;
  cy:0;
  r:2.20;
  fill:rgb(216, 214, 214); 
  stroke-width: .2px;
  stroke:rgb(56, 54, 51);
  transition: fill 1s;
}
.node.hilite circle{
  fill:rgb(41, 36, 31);
}
.node.hilite text{
  fill:#f5bb5dde;
}
.node.hilite.hiliteSelected circle{
  fill:#666;
}
.node.hilite.hiliteSelected text{
  fill:rgb(250, 247, 247);
}
.node text{
  user-select: none;
  font-family:kefa;
  font-size:2.5; 
  text-anchor:middle;
  transform:translateY(0.75px);
  fill:rgb(66, 63, 58);
}
.node text tspan{ 
  font-size:3.8;
}

.node.one{
  transform:translate(0px, -10px);
}
.node.two{
  transform:translate(-8.66px, -5px);
}
.node.three{
  transform:translate(-8.66px, 5px);
}
.node.four{
  transform:translate(8.66px, -5px);
}
.node.five{
  transform:translate(8.66px, 5px);
}
.node.six{
  transform:translate(0px, 10px);
}
.node.seven{
  transform:translate(0px, 0px);
}
text{
  text-anchor:middle;
}