* {
  box-sizing:border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.questionPosition{
  top: 80px;
  left: 50px;
  font-size: 16px;
  text-align: center;
  width:600px;
  margin:20px;
  padding-bottom: 40px;
  margin:auto;
}
.questionPosition div{
  height:40px;
}
.answer-reply{
  height:40px;
}
button.note-choice{
  font-size:25px;
}
.pocket{
  position: relative;
  background-color: #cfcccc;
  padding: 10px;
  margin: 20px;
  border:2px solid #7d7474;
  border-radius:10px;
}
.hexkey{
  overflow:visible;
  display:block;
  margin:auto;
  margin-bottom:40px;
}
.hex00{
  transform:translate(50%, 50%);
}
.hex01{
  transform:translate(37.2px, 20px);
}
.hex02{
  transform:translate(54.4px, 20px);
}
.hex10{
  transform:translate(28.6px, 35px);
}
.hex11{
  transform:translate(45.8px, 35px);
}
.outline{
  fill:#b8ac9ede;
  fill-opacity:1; 
  stroke:#7d7474;
  stroke-width:.2;
  transition: fill 1s;
}
.outline.completed{
  fill:#e29820de;
}
.node{
  cursor:pointer;
}
.node circle{
  cx:0;
  cy:0;
  r:2.20;
  fill:rgb(216, 214, 214); 
  stroke-width: .2px;
  stroke:#685e5e;
  transition: fill 1s;
}
.node.hilite circle{
  fill:rgb(41, 36, 31);
}
.node.hilite text{
  fill:#f5bb5dde;
}
.node.hilite.hiliteSelected circle{
  fill:#666;
}
.node.hilite.hiliteSelected text{
  fill:rgb(250, 247, 247);
}
.node text{
  user-select: none;
  font-family:kefa;
  font-size:2.5; 
  text-anchor:middle;
  transform:translateY(0.75px);
  fill:rgb(66, 63, 58);
}
.node text tspan{ 
  font-size:3.8;
}

.node.one{
  transform:translate(0px, -10px);
}
.node.two{
  transform:translate(8.66px, -5px);
}
.node.three{
  transform:translate(8.66px, 5px);
}
.node.four{
  transform:translate(-8.66px, -5px);
}
.node.five{
  transform:translate(-8.66px, 5px);
}
.node.six{
  transform:translate(0px, 10px);
}
.node.seven{
  transform:translate(0px, 0px);
}
text{
  text-anchor:middle;
}

.interval-arrow.one .interval-arrow-inner{
  transform:rotate(90deg);
}
.interval-arrow.two .interval-arrow-inner{
  transform:rotate(-150deg);
}
.interval-arrow.three .interval-arrow-inner{
  transform:rotate(-90deg);
}
.interval-arrow.four .interval-arrow-inner{
  transform:rotate(30deg);
}
.interval-arrow.five .interval-arrow-inner{
  transform:rotate(-90deg);
}
.interval-arrow.six .interval-arrow-inner{
  transform:rotate(-150deg);
}
.interval-arrow.seven .interval-arrow-inner{
  transform:rotate(90deg);
}
.interval-arrow-shaft{
  fill:#5b5353;
  transform:translate(3.2px, -0.2px);
}
.interval-arrow{
  visibility: visible;
}
.interval-arrow-head{
  fill:#5b5353;
  transform:translate(2.2px, -1px);
}

div.hexkeyhelper{
  position:absolute;
  left:80%;
  top:10%;
}
div.keybuilder div.hexkeyhelper{
  top:35%;
}
.hexkeyhelper .node{
  cursor:default;
}

.hexkey.helper.arrows .interval-arrow-head{
  fill:#5b5353;
  transform:translate(0px, -1px);
}

.hexkey.helper.arrows .interval-arrow-shaft{
  fill:#5b5353;
  transform:translate(0.75px, -0.2px);
}

.hexkey.helper.arrows .nodes circle{
  display:none;
}

.hexkey.helper .outline{
  stroke-width:0px;
}

.hexkey.helper.arrows .interval-arrow.one polygon, .hexkey.helper.arrows  .interval-arrow.four polygon{
  fill:#7d7474;
}

.interval-label{
  font-size:3px;
}
.interval-label.one-two{
  transform: translate(6px, -9px);
}
.interval-label.two-three{
  transform: translate(12px, 0px);
}
.interval-label.three-four{
  transform: translate(-3.5px, -3px);
  fill:#685e5e;
}
.interval-label.four-five{
  transform: translate(-11px, 1px);
}
.interval-label.five-six{
  transform: translate(-6px, 11px);
}
.interval-label.six-seven{
  transform: translate(2px, 6px);
}
.interval-label.seven-one{
  transform: translate(2px, -3px);
  fill:#685e5e;
}

.fk-circle{
  r:4;
  fill:red;
}
.field-key-label{
  font-size:30px;
  font-weight:bold;
  fill:#ffffff;
  transform: translateY(8px);
  cursor:pointer;
  pointer-events: none;
  opacity:0.3;
}
.field-hexagon{
  fill:rgb(185, 183, 183);
  stroke:rgb(255, 255, 255);
  stroke-width:2px;
  opacity:0.45;
}
.field-note-name{
  pointer-events: none;
  transform: translateY(4px);
  fill:rgb(255, 255, 255);
  font-size: 12px;
}
.field-note-triangle{
  fill:transparent;
  stroke:rgb(114, 18, 18);
  stroke-width:0.21px;
  opacity:0.36;
  cursor:pointer;
  pointer-events: none;
}
.field-note-circle{
  fill:rgb(196, 196, 196);
  opacity:0.8;
  stroke:white;
  stroke-width:2px;
}
.petal{
  opacity:0.4;
  stroke:white;
  stroke-width:2px;
}
.petal.unselected{
  opacity:0;
}
.petal.selected{
  opacity:0.5;
}

.A{fill:#ff0000;}
.Bb{fill:#ff8000;}
.B{fill:#edd305;}
.C{fill:#80ff00;}
.Db{fill:#00ff00;}
.D{fill:#00ff80}
.Eb{fill:#00ffff}
.E{fill:#0080ff;}
.F{fill:#0000ff;}
.Gb{fill:#8000ff;}
.G{fill:#ff00ff;}
.Ab{fill:#ff0080;}