* {
  box-sizing:border-box;
}
.questionPosition{
  top: 80px;
  position: absolute;
  left: 50px;
  font-size: 25px;
  text-align: center;
  width:600px;
  margin:20px;
}
.pocket{
  position: relative;
  height: 600px;
  background-color: #cfcccc;
  padding: 10px;
  margin: 20px;
}
.hexkey{
  overflow:visible;
  transform:translate(60px, 60px);
}
.hex00{
  transform:translate(20px, 20px);
}
.hex01{
  transform:translate(37.2px, 20px);
}
.hex02{
  transform:translate(54.4px, 20px);
}
.hex10{
  transform:translate(28.6px, 35px);
}
.hex11{
  transform:translate(45.8px, 35px);
}
.outline{
  fill:#f5ac3f;
  fill-opacity:1; 
  stroke:#000;
  stroke-width:.4;
}
.node{
  cursor:pointer;
}
.node circle{
  cx:0;
  cy:0;
  r:2.5;
  fill:#e6e6e6; 
}
.node.hilite circle{
  fill:red;
}
.node text{
  user-select: none;
  font-family:kefa;
  font-size:3; 
  text-anchor:middle;
  transform:translateY(1px);
}
.node text tspan{ 
  font-size:3.8;
}
.one circle{
  fill:#000;
}
.one text{
  fill:#fff;
}
.node.one{
  transform:translate(0px, -10px);
}
.node.two{
  transform:translate(-8.66px, -5px);
}
.node.three{
  transform:translate(-8.66px, 5px);
}
.node.four{
  transform:translate(8.66px, -5px);
}
.node.five{
  transform:translate(8.66px, 5px);
}
.node.six{
  transform:translate(0px, 10px);
}
.node.seven{
  transform:translate(0px, 0px);
}
.node.seven circle{
  opacity:0.5;
}
text{
  text-anchor:middle;
}