* {
  box-sizing:border-box;
}
.hexkey{
  overflow:visible;
  transform:translate(60px, 60px);
}
.outline{
  transform:translateY(-2.6px);
  fill:#f5ac3f;
  fill-opacity:1; 
  stroke:#000;
  stroke-width:.4;
}
.node{
  cursor:pointer;
}
.node circle{
  cx:0;
  cy:0;
  r:3.5;
  fill:#e6e6e6; 
  stroke:#555; 
  stroke-width:.1;
}
.node.hilite circle{
  fill:red;
}
.node text{
  user-select: none;
  font-family:kefa;
  font-size:4; 
  text-anchor:middle;
  transform:translateY(1.3px);
}
.node text tspan{ 
  font-size:3.8;
}
.node.one{
  transform:translate(16px, 0px);
}
.one circle{
  fill:#000;
}
.one text{
  fill:#fff;
}
.node.two{
  transform:translate(2.8px, 7px);
}
.node.three{
  transform:translate(2.8px, 21.6px);
}
.node.four{
  transform:translate(28.9px, 7px);
}
.node.five{
  transform:translate(28.9px, 21.6px);
}
.node.six{
  transform:translate(16px, 29.6px);
}
.node.seven{
  transform:translate(16px, 14px);
}
text{
  text-anchor:middle;
}